// Color;
$primary-color: #245BCD;
$hover-color : #188fff;
$bColor: #333333;
$white : #ffffff;
$black : #000000;
$bgOne: #FAFAFA;
$bgTwo: #F7F7F7;
$border-color: #DADADA;


// Body;
$bodyFont: 'Open Sans', sans-serif;
$titleFont: 'Poppins', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .4s linear;
